.main {
    width: 100%;
    height: 2500px;
}
.main .introduce{
    padding-top: 50px;
    width: 100%;
    height: 750px;
    display: flex;
    flex-direction: row;
}

.main .introduce .layout{
    flex-grow: 1;
}

.main .introduce .layout .img2{
    width: 100%;
}

